body {
    background-image: url(./hacf.jpeg);
}

h1 {
    color: red;
    text-align: center;
    margin-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
}